.design {
    display: flex;
    height: 350px;
    transform: rotate(180deg);
}

.vertical {
    width: 4px;
    border-left: 4px solid black;
    margin-right: 8px;
    border-image: linear-gradient(to top, #21ADA8, rgba(0, 0, 0, 0)) 1 100%;
    opacity: 0.5;
}



.multicolorText {
    background: linear-gradient(to right, white, #99EEBB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.multicolorLogo {
    background: linear-gradient(to right, #99EEBB, #14B5D0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* This bg color is never visible if there is an image because image is always over the bg color */
.imgBlueOverlay {
    background-color: #2a4365;
}

/* To solve the issue mentioned above, we will lighten the image using opacity */
.imgBlueOverlay img {
    opacity: 0.1;
}

.centered {
    position: absolute;
    top: 32px;
    left: 64px;
    /* As it is absolute, it's not part of the div which is why w-full will not work and will go out of the image container. This is why we will leave the same px from the right side as well.*/
    right: 64px;
}

/* You can use light-red and light-green as variables too */
@value light-red: #f56565;
@value light-green: #38b2ac;
@value num: Math;

.progress {
    position: relative;
    display: flex;
    height: 8px;
    border-radius: 25px;
}

.imgBlackOverlay {
    background-color: rgba(0, 0, 0, 0.9)
}

/*
    .button {
        border-radius: 25px; // Equivalent to rounded-l-full rounded-r-full
        font-size: medium;
        padding: 4px 20px;
    }
*/